.demo-container {
  text-align: center;
}

.demo-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.single {
	width: 500px;
}